/* BASE STYLING
 * use naming conventions from bootstrap where reasonable
 */

html {
    /* our base size */
    font-size: 12px;
}

* { box-sizing: border-box;}

body {
    line-height: 1.5;
    color: #444;
    margin: auto;
/*    font-family: 'Source Sans Pro', sans-serif; */
}

pre {
/*     font-family: 'Inconsolata'; */
}


h1,h2,h3,h4,h5,h6 {
    color: #222;
    margin: 0.5rem 0;
}

h1 { font-size:244%;}
h2 { font-size:195%;}
h3 { font-size:156%;}
h4 { font-size:125%;}
h5 {font-size:100%; }
h6 {font-size:80%; }

small, .small { font-size: 65%; }

/* secondary headings */
h1 small, h1 .small,
h2 small, h2 .small,
h3 small, h3 .small,
h4 small, h4 .small,
h5 small, h5 .small,
h6 small, h6 .small {
/*    color: #888; */
    font-weight: normal;
}

p {
    margin-bottom: 0.75rem;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    margin: 0;
    padding: 0;
}



/* forms */

label {
    font-weight: bold;
    /*display: block; */
}

.checkbox label {
  display: inline-block;
  font-weight: normal;
}

input[type="checkbox"] {
    margin-left: 0;
}


input,textarea {
    padding: 0.4em;
}

input,select { }


/* form errors */
.has-error input,
.has-error select,
.has-error textarea {
  border-color: #b94a48;
}

.has-error label,
.has-error .help-block {
  color: #b94a48;
}

/* form misc */

.form-group {
    display: block;
    margin-bottom: 0.5em;
}

.form-control {
    width: 100%;
}

.help-block {
    display: block;
    color: #888;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}


.inline-form input,select {}


/* alerts */

.alert {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}



/* tables */

.table {
    border-collapse:collapse;
}

.table th, .table td {
    padding: 0.4rem;
}

.table th {
    text-align: left;
}

.table td {
    text-align: right;
}

.table thead tr {
    border-bottom: 2px solid #ddd;
}
.table tbody tr {
    border-bottom: 1px solid #ddd;
}

/* END BASE STYLING */

/* SITE STYLE */
body {
    font-family: sans-serif;
/*    background-color: #b8e4e5; */
/*    background-color: #8CC8C9; */
    background-color: #fff;
}


h1,h2,h3,h4,h5,h6 {
    color: #d06030;
}

/* GENERIC HELPER STYLES */
/* buttons */

.btn {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}


.btn-default {
  background-color: #d06030;
  border: 1px solid #888;
  color: #fff;
}

.btn-lg {
  font-size: 2rem;
}

a.btn {
  color: #fff;
}

a.btn:hover {
    background-color: #ccc;
    text-decoration: none;
}

a.btn:visited {
  color: #fff;
}



.copy {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 65em;
    padding: 1em;
    margin: auto;
    background-color: #fff;
}


.sev {
    color: white;
    border-radius: 0.1vw;
    padding: 0.2vw 0.4vw;
    font-size: 80%;
    
}

.sev-green { background-color: #4d4; color: #cfc;  }
.sev-orange { background-color: #d74; color: #ffe; }
.sev-red { background-color: #d44; color: #fee; }


/* OVERALL LAYOUT */
.l-masthead {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.l-title {
    width: 100%;
    text-align: center;
}

.l-mood, l-mood2 {
    width: 100%;
    text-align: center;
}


.l-heartbeat {
    width: 100%;
    text-align: center;
}

.l-icons {
    width: 100vw;
    display: block;
}

@media (max-width: 639px) {
    .l-mood {
        display: none;
    }
}

@media (min-width: 640px) {
    /* big screen */
    .l-icons {
        width: 100vw;
        height: 35vw;
        position: relative;
        /* outline: 1px solid green; */
    }

    .l-title {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 35%);
    }

    .l-heartbeat {
        position: absolute;
        right: 2vw;
        top: 1vw;
        width: 21vw;
    }

    .l-events {
        width: 100vw;
        text-align: center;
        overflow: hidden;
        /* outline: 1px solid red; */
    }

    .l-mood {
        width: 100vw;
        /* outline: 1px solid blue; */
    }

    .l-mood2 {
        display: none;
    }

}

/* TITLE */

.title {
    display: inline-block;
    /* background: #d06030;
    border-radius: 0.4rem;
     */
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255,255,255,0.3);
    border-radius: 0.4rem;
    padding: 0.5rem;
}

.title small {
    text-transform: none;
    display: block;
    font-weight: bold;
}

@media (max-width: 639px) {
    .title {
        font-size: 8vw;
        line-height: 8.8vw;
    }
    .title small {
        font-size: 7vw;;
        line-height: 7vw;
    }
}
@media (min-width: 640px) {
    .title {
    /*    padding: 1rem 6rem; */
        font-size: 3vw;
        line-height: 3.3vw;
    }
    .title small {
        margin-top: 0.5vw;
        font-size: 2vw;
        line-height: 2.2vw;
    }
}


/* HEARTBEAT */
.hb-box {
    display: block;
}

.hb-title {
    color: #ccc;
    background-color: #444;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.75vw;
    font-weight: normal;
}

.hb-list {
    margin: 0;
    padding: 0;
}

.hb-item {
    list-style: none;
    display: inline-block;
    width: 50%;
    padding: 0.1vw 0.2vw;
    position: relative;
    background-color: #fff;
    text-align: left;
}


.hb-icon {
    padding: 0;
    display: inline-block;
}


@media (max-width: 639px) {
    /* small screen */
    .hb-box {
        max-width: 30rem;
        margin: 2vw auto;
    }

    .hb-title {
        display: none;
    }

    .hb-item {
        height: 20vw;
    }

    .hb-icon {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        vertical-align: middle;
    }

    .hb-item .cap {
        display: inline-block;
        vertical-align: middle;
        padding-left: 1vw;
        width: 68%;
    }

    .hb-item .cap-maj { font-size: 6vw; }
    .hb-item .cap-min { font-size: 2.5vw; }

}

@media (min-width: 640px) {
    /* big screen */

    .l-heartbeat {
        z-index: 1;
    }

    .hb-title {
    }

    .hb-box {
    }

    .hb-list {
        margin: 0;
        padding: 0;
    /*border-bottom: 0.2rem solid #688;
    padding-bottom: 0.5rem;
    */
    }

    .hb-item {
        border-radius: 0.5vw;
        background-color: #fff;
        display: inline-block;
        width: 31%;
        position: relative;
        overflow: hidden;
        vertical-align: top;
        text-align: center;
        margin: 0;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    .hb-item::last-child {
        margin-right: 1%;
        margin-bottom: 1%;
    }


    .hb-icon {
        display: inline-block;
        width: 3vw;
        margin: 0;
        padding: 0;
    }

    .hb-item .cap {
        margin-top: -0.5vw;
    }

    .hb-item .cap-maj { font-size: 0.9vw; font-weight: bold; }
    .hb-item .cap-min { font-size: 0.75vw; }
}

/* ICONS */
.icon-area {
    display: block;
    text-align: center;
    width: 100%;
}

.icon-grp {
    margin: 0;
    padding: 0;
}

.icon {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    /*outline: 1px solid red; */
    vertical-align: middle;
    text-align: center;
}


.icon-img {
    display: inline-block;
    vertical-align: middle;
    max-width: 44vw;
    max-height: 44vw;
    
    padding: 1rem;
    margin: auto;
}



@media (max-width: 639px) {
    /* small screen */

    .icon-grp {
        padding: 5vw 0;
    }

    .icon-grp-default {
        display: none;
    }
    .icon-grp-sky {
        background-color: #8CC8C9; 
    }
    .icon-grp-grass {
        background-color: #7DBA77; 
    }

    .icon-grp-grass::before {
        content: "";
        background: url("/static/bg.png") 0 -184px no-repeat;
        display: block;
        padding-top: 20vw;
        margin-top: -25vw;
    }

    .icon-grp-road { background-color: #eee; }

    .icon-grp-water {
        background-color: #b6e5e5;
    }

    .icon {
        display: block;
        position: relative;
        min-height: 12vw;
        margin: 5vw 4vw 5vw 8vw;
        background-color: rgba(255,255,255,0.5);
        /*background-color: #fff; */
        border: 1px solid rgba(0,0,0,0.5);
        border-radius: 2vw;
    }

    .icon-img {
        margin-top: -4vw;
        margin-left: -8vw;
        display: block;
        max-width: 20vw;
        max-height: 20vw;
        position: absolute;
        left: 0;
        top: 0;
        filter: drop-shadow(2px 2px 2px #222);
    }

    .icon:hover {
        filter: brightness(1.1) drop-shadow(2px 2px 2px #222);
        transform: scale(1.02);
        transition: 200ms ease;
    }

    .icon .cap {
        display: table;
        text-align: left;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 16vw;
        overflow: hidden;

        white-space: nowrap;
    }

    .icon .cap-maj {
        display: table-cell;
        font-size: 6vw;
        padding: 1vw;

        vertical-align: middle;
        white-space: nowrap;
    }

    .icon .cap-min {
        display: table-cell;
        font-size: 2.5vw;
        padding-left: 1vw;
        font-weight: normal;
        white-space: normal;
        overflow-wrap: normal;
        vertical-align: middle;
    }

    .icon .cap .sev {
        padding: 1vw 2vw;
        border-radius: 1vw;
        border: 0 solid transparent;
    }

    .icon .cap img {
        display: inline-block;
        width: 6vw;
        height: 6vw;
        vertical-align: middle;
    }
}

@media (min-width: 640px) {
    /* big screen */
    .icon-area {
        background: url("/static/bg.png") no-repeat;
        background-size: 100vw 35vw;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .icon {
        position: absolute; 
        display: block;
        height: auto;
    }
    .icon-img {
        width: 100%;
        display: block;
        padding: 0;
        max-width: inherit;
        max-height: inherit;
    }

    .icon:hover .icon-img {
        filter: brightness(1.1) drop-shadow(2px 2px 2px #222);
        transform: scale(1.02);
        transition: 200ms ease;
    }

    /* begin autogenerated */
    .icon-plane {left: 12%; top: 12%; width: 8.8%;}
    .icon-sun {left: 32%; top: 13%; width: 5.3%;}
    .icon-clouds {left: 58%; top: 15%; width: 18%;}
    .icon-bus {left: 84%; top: 78%; width: 10%;}
    .icon-car {left: 3.7%; top: 72%; width: 8.7%;}
    .icon-canoe {left: 19%; top: 87%; width: 8.4%;}
    .icon-scooter {left: 55%; top: 67%; width: 3%;}
    .icon-bike {left: 68%; top: 77%; width: 6.5%;}
    .icon-tourists {left: 78%; top: 64%; width: 4.8%;}
    .icon-boatsheds {left: 14%; top: 62%; width: 13%;}
    .icon-antarctica {left: 10%; top: 51%; width: 12%;}
    .icon-shops {left: 23%; top: 46%; width: 7%;}
    .icon-remembrance {left: 52%; top: 52%; width: 7.8%;}
    .icon-ccc {left: 42%; top: 42%; width: 12%;}
    .icon-art {left: 30%; top: 40%; width: 15%;}
    .icon-chalice {left: 59%; top: 44%; width: 5.3%;}
    .icon-cathedral {left: 64%; top: 47%; width: 8.6%;}
    .icon-garden {left: 30%; top: 61%; width: 6.7%;}
    .icon-clocktower {left: 73%; top: 49%; width: 1.9%;}
    .icon-pier {left: 75%; top: 54%; width: 22%;}
    .icon-trafficlight {left: 76%; top: 67%; width: 1.3%;}
    .icon-tram {left: 38%; top: 64%; width: 8%;}
    .icon-tramtrack {left: 27%; top: 73%; width: 48%;}
    .icon-houses1 {left: 1.7%; top: 39%; width: 5%;}
    .icon-houses2 {left: 7.5%; top: 41%; width: 11%;}
    .icon-crane {left: 44%; top: 16%; width: 11%;}
    .icon-trees3 {left: 52%; top: 40%; width: 20%;}
    /* end autogenerated */


    .icon .cap {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
        background-color: rgba( 255,255,255, 0.25);
        border: 0 solid transparent;
        border-radius: 0.4vw;

        min-width: 8vw;
    }

    .icon .cap-maj { font-size: 0.9vw; font-weight: bold; }
    .icon .cap-min { font-size: 0.75vw; }

    .icon .cap-maj {
        display: block;
        padding: 0.2vw;
        /* outline: 1px solid red; */
    }

    .icon .cap-min {
        display: block;
        font-size: 0.75vw;
    }

    .icon .cap-t {
        top: 0;
        bottom: auto;
        transform: translate(-50%, -100%);
    }

    .icon .cap img {
        display: inline-block;
        width: 1.3vw;
        height: 1.3vw;
        vertical-align: middle;
    }

    .icon .cap .sev {
        padding: 0.5vw 1vw;
        border-radius: 0.5vw;
        border: 0 solid transparent;
        line-height: 2vw;
    }
}

/* CAPTIONS */

.cap {
    z-index: 1;
}

.cap-min {
    display: block;
}
.cap-maj {
    display: block;
}

.cap-maj img {
    display: inline-block;
    vertical-align: middle;
}

a .cap {
    color: #444;
}



/* POPUP GUBBINS */

.popup-cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.75);
    z-index: 10;
    padding: 5vw 5vh;
}


.popup-contents {
    position: absolute;
    left: 10vw;
    right: 10vw;
    top: 3rem;
    bottom: 3rem;
    /*outline: 1px solid grey;*/
    margin: auto;
}

.popup-contents iframe {
    width:100%;
    height: 100%;
}




/* EVENTS */

.ev-area {
    background-color: #b8e4e5;
}
.ev-area h2 {
    text-align: center;
}

.ev-list {
    padding: 2rem 0rem;
}

.ev-item {
    list-style-type: none;
    white-space: normal;

    display: block;

/*    height: 18rem; */

    text-align: center;
    position: relative;
    /* outline: 1px solid yellow; */
}

.ev-item a {
    color: #444;
}

.ev-item a:visited {
    color: #444; 
}

.ev-item a:hover {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: #ccf;
    background-color: #ccfcff;
    text-decoration: none;
}



.ev-day, .ev-time {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #d06030;
    font-weight: bold;

}

.ev-day {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;

}
.ev-time {
    height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;

    /*outline: 1px solid red; */
}


.ev-thumb {
    border-radius: 4.125rem;
    border: 0.25rem solid #d06030;
 
    display: block;
    width: 8rem;
    height: 8rem;
    margin: auto;
}


.ev-name {
    text-align: left;
    color: #444;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0 1rem;
    display: block;
    height: 1.5rem;
}

.ev-desc {
    /* outline: 1px solid white; */
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 1rem;
    height: 4.5rem;
}

/* timeline */
.ev-item::before {
    content: "";
    position: absolute;
}

/* timeline node */
.ev-item::after {
    content: "";
    position: absolute;
    margin-left: -0.66rem;
    margin-top: -0.66rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 0.66rem;
    border: 0;
    background: #d06030;
}

@media (max-width: 639px) {
    /* small-screen specific */

    .ev-area {
        background-color: #fff;
    }


    .ev-list {
        position: relative;
        z-index: 1;
    }

    /* timeline */
    .ev-list::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 50%;
        border-right: 0.166rem solid #acc;
    }

    .ev-item {
        width: 50%;
        margin-top: -5%;
        position: relative;
    }
    .ev-item:nth-child(even) {
        margin-left: 50%;
    }
    .ev-item:first-child {
        margin-top: 0;
    }

    .ev-item::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 4rem;
        border-top: 0.166rem solid #acc;
        z-index: -1;
    }

    /* timeline node */
    .ev-item:nth-child(odd)::after {
        top: 4rem;
        right: -0.58rem;
    }
    .ev-item:nth-child(even)::after {
        top: 4rem;
        left: -0.08rem;
    }

    .ev-item:nth-child(odd) .ev-day {
        position: absolute;
        left: 0rem;
        top: 0;
    }
    .ev-item:nth-child(even) .ev-day {
        position: absolute;
        right: 0rem;
        top: 0;
    }

    .ev-day {
        font-size: 1.5rem;
        width: 3em;
    }

    .ev-day::first-line {
        font-size: 2rem;
    }
    .ev-time {
        display: none;
    }

    .ev-name,
    .ev-desc {
        text-align: left;
    }
}

@media (min-width: 640px) {
    /* big-screen specific */

    .ev-area h2 {
        display: none;
    }

    .ev-list {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;   /*hidden;*/
        margin: 0;
    }

    .ev-item {
        display: inline-block;
        /*height: 25rem;*/
        width: 20rem;
    }

    .ev-item a {
        padding: 0.5rem;
        display: block;
    }

    /* timeline */
    .ev-item::before {
        top: 11.5rem;
        left: 0;
        right: 0;
        border-top: .166rem solid #acc;
    }

    /* timeline node */
    .ev-item::after {
        top: 11.5rem;
        left: 50%;
        right: 0;
    }

    .ev-thumb {
        margin-top: 1rem;
        margin-bottom: 3rem;    /* room for timeline */
    }

    .ev-name {
        margin-top: 0.5rem;
        text-align: center;
    }

    .ev-desc {
        margin-top: 0.5rem;
        text-align: center;
    }

    .ev-day {
        margin-top: 1rem;
    }
    .ev-time {
    }
}

/* MOOD */

.mood-box {
    max-width: 32rem;
    margin: 0.5rem;
    display: inline-block;
    border-bottom: 0.2rem solid #688;
    padding-bottom: 0.5rem;
}

.mood-box h3 {
    background: #688;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2rem;
}

.mood-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.mood-item {
    list-style: none;
    display: inline-block;
    width: 33%;
    text-align: center;
    border-right: 1px solid #688;
    line-height: 1rem;
    cursor: pointer;
}
.mood-item:last-child {
    border-right: none;
}

.mood-item img {
    display:block;
    width: 4rem;
    height: 4rem;
    padding: 0.4rem;
    border-radius: 2rem;
    border: 2px solid #444;
}

.mood-item:hover img {
    filter: brightness(1.3);
    transform: scale(1.1);
    transition: 50ms ease;
}

.mood-item button {
    display: block;
    background: none;
    border: none;
}


/* support for replacing horizonal scrollbar with buttons */
.nobar {
  overflow: auto;
  -ms-overflow-style: none;
  position: relative;
}

.nobar::-webkit-scrollbar { 
  display: none;
}

.nobar-btn {
  width: 4rem;
  height: 4rem;
  display: block;
  z-index: 1;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  border: 2rem solid rgba(255,255,255,0.75);
}

.nobar-btn:hover {
  border-color: rgba(255,255,255,1.0);
}

.nobar-btn.nobar-btn-left {
  left: 1rem;
  border-left: none;
  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
}

.nobar-btn.nobar-btn-right {
  right: 1rem;
  border-right: none;
  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
}

