<!doctype html>
<html>
<head>
  <title>Smart Christchurch</title>
  <link href="static/style.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="/static/manifest.json" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="SmartCityCCC" />
  <link rel="apple-touch-icon" sizes="128x128" href="/static/appicon128.png">
</head>
<body>
{% block masthead %}
<div class="l-masthead">
<a class="btn btn-lg btn-default" href="/" >&LT; back</a>
</div>
{% endblock %}
{% block site_main %}{% endblock %}

<script>
var smartcity = function() {
  var kioskMode = false;
  if (kioskMode) {    
    /* kiosk mode - open links in popup window */
    var popcover = document.body.querySelector('.popup-cover');
    var popframe = document.body.querySelector('.popup-contents iframe');
    var links = document.body.querySelectorAll('.icon a');
    for( var i=0; i<links.length; i++ ) {
      let link = links[i];
      link.addEventListener("click", function(ev) {
        popframe.src = link.href;
        popcover.style.display = 'block';
        ev.preventDefault();
      }, false);
    }

    // click outside iframe to return to main page
    popcover.addEventListener("click", function(ev) {
      popframe.src = '';
      popcover.style.display = 'none';
      ev.preventDefault();
    });
  }
}();
</script>
</body>
</html>
