{% extends "base.html" %}
{% block site_main %}
<div class="copy">
<div style="">
<h1><img src="/static/icon/bus.png" style="width:8rem; vertical-align: middle;"> Buses</h1>

<p>This page has more detailed info about the thing you just clicked upon...</p>

<p>It might be:</p>

<ul>
    <li>Charts and detailed statistics to dig into</li>
    <li>Location-specific information (eg nearest bus stop)</li>
    <li>Maps (eg heatmap of air quality across the city)</li>
    <li>Media (eg traffic cams, photos from social media...)</li>
    <li>Background information, to help place data in context</li>
    <li>etc...</li>
</ul>

<br/>
For example:
<br/>
<hr/>
<br/>

Nearest bus stop to here:

<h3>Bluestone Dr near Alpine View</h3>
<img src="/static/busstop.png" />
<br/>
Services from this stop:
<div>
    <h5>    <span>135</span> New Brighton (Burwood/New Brighton)</h5>
<span>Next bus due in 9 mins</span>, stopping at:
<ul>
    <li>Burwood hospital</li>
    <li>Beach Rd</li>
    <li>New Brighton</li>
</ul>
<span class="alert alert-info">NOTE: Detour currently in force on Beach Rd - check for details.</span>


<br />
<br />
Current location:
<strong>Alpine view lane</strong>
(wrong? <a href="">pick somewhere else</a>)
</div>  <!-- end .copy -->
{% endblock %}
