{% extends "base.html" %}
{% block masthead %}{% endblock %}
{% block site_main %}
<div class="l-icons">
<div class="icon-area">

<div class="l-title">
    <h1 class="title">Christchurch <small>Smart City</small></h1>
</div>

<div class="l-mood2">
    <form class="mood-box" method="POST" action="/rate">
        <h3>Rate our city dashboard</h3>
        <ul class="mood-list">
            <li class="mood-item">
                <button class="btn btn-default" name="score" value="1">
                <img src="/static/mood/thumb-up.png" alt="utterly fantastic!"/>
                </button>
                <span>{{"%.0f" % dat.rating["1"]}}%</span>
            </li><li class="mood-item">
                <button class="btn btn-default" name="score" value="0">
                <img src="/static/mood/thumb-side.png" alt="ok"/>
                </button>
                <span>{{"%.0f" % dat.rating["0"]}}%</span>
            </li><li class="mood-item">
                <button class="btn btn-default" name="score" value="-1">
                <img src="/static/mood/thumb-down.png" alt="Grrrrrrrr!"/>
                </button>
                <span>{{"%.0f" % dat.rating["-1"]}}%</span>
            </li>
        </ul>
    </form>
</div>  <!-- end .l-mood -->

<div class="l-heartbeat">
    <div class="hb-box">
    <h2 class="hb-title">Heartbeat</h2>
    <ul class="hb-list">
<li class="hb-item">
    <img class="hb-icon" src="/static/hb/sunny.png" alt="sunny" /><div class="cap"><div class="cap-maj">Sunny</div><small class="cap-min">Weather</small></div>
</li><li class="hb-item">
    <img class="hb-icon" src="/static/hb/humidity.png" alt="humidity" /><div class="cap"><div class="cap-maj">48%</div><small class="cap-min">Humidity</small></div>
</li><li class="hb-item">
    <img class="hb-icon" src="/static/hb/temp.png" alt="temp" /><div class="cap"><div class="cap-maj">21&deg;C</div><small class="cap-min">Temperature</small></div>
</li><li class="hb-item">
    <img class="hb-icon" src="/static/hb/wind.png" alt="wind" /><div class="cap"><div class="cap-maj">Moderate</div><small class="cap-min">wind: 15 km/h</small></div>
</li><li class="hb-item">
    <img class="hb-icon" src="/static/hb/bike.png" alt="bike" /><div class="cap"><div class="cap-maj">40%</div><small class="cap-min">Cycling</small></div>
</li><li class="hb-item">
    <img class="hb-icon" src="/static/hb/recycle.png" alt="recycle" /><div class="cap"><div class="cap-maj">48.7%</div><small class="cap-min">of total waste</small></div>
</li>
    </div>
</div>

{# this stuff is auto-generated - don't hand-edit! use layout.py #}
<ul class="icon-grp icon-grp-sky">
  <li class="icon icon-plane"><a href="/stuff"><img alt="plane" class="icon-img" src="/static/icon/plane.png" /><div class="cap"><span class="cap-maj"><img alt="decreased" src="/static/decreased.png" /> 18</span> <small class="cap-min">Planes in Christchurch Airport</small></div></a></li>
  <li class="icon icon-sun"><a href="/stuff"><img alt="sun" class="icon-img" src="/static/icon/sun.png" /><div class="cap cap-t"><span class="cap-maj">2x10<sup>30</sup></span> <small class="cap-min">kg hydrogen remaining</small></div></a></li>
  <li class="icon icon-clouds"><a href="/air"><img alt="clouds" class="icon-img" src="/static/icon/clouds.png" /><div class="cap cap-t"><span class="cap-maj"><img alt="increased" src="/static/increased.png" /> <span class="sev sev-red">High</span></span> <small class="cap-min">Air pollution today</small></div></a></li>
</ul> <!-- end .icon-grp-sky -->

<ul class="icon-grp icon-grp-grass">
  <li class="icon icon-crane"><a href="/stuff"><img alt="crane" class="icon-img" src="/static/icon/crane.png" /><div class="cap cap-t"><span class="cap-maj"><img alt="increased" src="/static/increased.png" /> 2,790</span> <small class="cap-min">Constructions underway</small></div></a></li>
  <li class="icon icon-houses1"><a href="/stuff"><img alt="houses1" class="icon-img" src="/static/icon/houses1.png" /></a></li>
  <li class="icon icon-trees3"><a href="/stuff"><img alt="trees3" class="icon-img" src="/static/icon/trees3.png" /><div class="cap cap-t"><span class="cap-maj"><span class="sev sev-orange">Medium</span></span> <small class="cap-min">Fire danger today</small></div></a></li>
  <li class="icon icon-art"><a href="/stuff"><img alt="art" class="icon-img" src="/static/icon/art.png" /><div class="cap cap-t"><span class="cap-maj"><img alt="decreased" src="/static/decreased.png" /> 3,193</span> <small class="cap-min">Visitors to Art Gallery today</small></div></a></li>
  <li class="icon icon-houses2"><a href="/stuff"><img alt="houses2" class="icon-img" src="/static/icon/houses2.png" /></a></li>
  <li class="icon icon-ccc"><a href="/stuff"><img alt="ccc" class="icon-img" src="/static/icon/ccc.png" /></a></li>
  <li class="icon icon-chalice"><a href="/stuff"><img alt="chalice" class="icon-img" src="/static/icon/chalice.png" /></a></li>
  <li class="icon icon-shops"><a href="/stuff"><img alt="shops" class="icon-img" src="/static/icon/shops.png" /><div class="cap cap-t"><span class="cap-maj">38,950</span> <small class="cap-min">Businesses operating in Christchurch</small></div></a></li>
  <li class="icon icon-cathedral"><a href="/stuff"><img alt="cathedral" class="icon-img" src="/static/icon/cathedral.png" /></a></li>
  <li class="icon icon-garden"><a href="/stuff"><img alt="garden" class="icon-img" src="/static/icon/garden.png" /><div class="cap"><span class="cap-maj">Roses</span> <small class="cap-min">currently in bloom at the Botanical Gardens</small></div></a></li>
  <li class="icon icon-tourists"><a href="/stuff"><img alt="tourists" class="icon-img" src="/static/icon/tourists.png" /><div class="cap"><span class="cap-maj">26,585</span> <small class="cap-min">Visitors currently in Christchurch</small></div></a></li>
</ul> <!-- end .icon-grp-grass -->

<ul class="icon-grp icon-grp-road">
  <li class="icon icon-car"><a href="/stuff"><img alt="car" class="icon-img" src="/static/icon/car.png" /><div class="cap"><span class="cap-maj"><span class="sev sev-green">Light</span></span> <small class="cap-min">Traffic today</small></div></a></li>
  <li class="icon icon-bike"><a href="/stuff"><img alt="bike" class="icon-img" src="/static/icon/bike.png" /></a></li>
  <li class="icon icon-bus"><a href="/buses"><img alt="bus" class="icon-img" src="/static/icon/bus.png" /><div class="cap"><span class="cap-maj"><img alt="increased" src="/static/increased.png" /> 4,612</span> <small class="cap-min">Took the bus today</small></div></a></li>
</ul> <!-- end .icon-grp-road -->

<ul class="icon-grp icon-grp-water">
  <li class="icon icon-pier"><a href="/stuff"><img alt="pier" class="icon-img" src="/static/icon/pier.png" /><div class="cap cap-t"><span class="cap-maj"><span class="sev sev-orange">OK</span></span> <small class="cap-min">surf: 7, choppy</small></div></a></li>
  <li class="icon icon-canoe"><a href="/waterquality"><img alt="canoe" class="icon-img" src="/static/icon/canoe.png" /><div class="cap cap-t"><span class="cap-maj"><span class="sev sev-green">Good</span></span> <small class="cap-min">water quality</small></div></a></li>
</ul> <!-- end .icon-grp-water -->

<ul class="icon-grp icon-grp-default">
  <li class="icon icon-clocktower"><a href="/stuff"><img alt="clocktower" class="icon-img" src="/static/icon/clocktower.png" /></a></li>
  <li class="icon icon-antarctica"><a href="/stuff"><img alt="antarctica" class="icon-img" src="/static/icon/antarctica.png" /></a></li>
  <li class="icon icon-remembrance"><a href="/stuff"><img alt="remembrance" class="icon-img" src="/static/icon/remembrance.png" /></a></li>
  <li class="icon icon-boatsheds"><a href="/stuff"><img alt="boatsheds" class="icon-img" src="/static/icon/boatsheds.png" /></a></li>
  <li class="icon icon-tram"><a href="/stuff"><img alt="tram" class="icon-img" src="/static/icon/tram.png" /></a></li>
  <li class="icon icon-trafficlight"><a href="/stuff"><img alt="trafficlight" class="icon-img" src="/static/icon/trafficlight.png" /></a></li>
  <li class="icon icon-scooter"><a href="/stuff"><img alt="scooter" class="icon-img" src="/static/icon/scooter.png" /></a></li>
  <li class="icon icon-tramtrack"><a href="/stuff"><img alt="tramtrack" class="icon-img" src="/static/icon/tramtrack.png" /></a></li>
</ul> <!-- end .icon-grp-default -->

{# end autogenerated section #}

</div>



</div> <!-- end .l-icons -->

<div class="l-events">
<div class="ev-area">
<h2>Upcoming Events</h2>
<ul class="ev-list">
    {% for ev in dat.events -%}
    <li class="ev-item">
        <a href="{{ev.srcurl}}"/><img class="ev-thumb" src="/static/{% if ev.thumb %}thumbs/{{ev.thumb}}{% else %}blankevent.png{% endif %}" />
        <h5 class="ev-name">{{ev.name}}</h5>
        <div class="ev-desc">{{ev.summary}}</div>
        <time class="ev-day">{{ev.day.strftime('%d %b')}}</time>
        <div class="ev-time">{{ev.time}}</div></a>
    </li>
    {%- endfor %}

</ul>
</div>
</div> <!-- end .l-events -->

<div class="l-mood">
    <form class="mood-box" method="POST" action="/rate">
        <h3>Rate our city dashboard</h3>
        <ul class="mood-list">
            <li class="mood-item">
                <button class="btn btn-default" name="score" value="1">
                <img src="/static/mood/thumb-up.png" alt="utterly fantastic!"/>
                </button>
                <span>{{"%.0f" % dat.rating["1"]}}%</span>
            </li><li class="mood-item">
                <button class="btn btn-default" name="score" value="0">
                <img src="/static/mood/thumb-side.png" alt="ok"/>
                </button>
                <span>{{"%.0f" % dat.rating["0"]}}%</span>
            </li><li class="mood-item">
                <button class="btn btn-default" name="score" value="-1">
                <img src="/static/mood/thumb-down.png" alt="Grrrrrrrr!"/>
                </button>
                <span>{{"%.0f" % dat.rating["-1"]}}%</span>
            </li>
        </ul>
    </form>
</div>  <!-- end .l-mood -->

<script>

function nobarScroll(area) {
  var leftBtn = document.createElement("div");
  leftBtn.classList.add("nobar-btn", "nobar-btn-left");
//  leftBtn.appendChild(document.createTextNode("LEFT &lt;"));
  var rightBtn = document.createElement("div");
  rightBtn.classList.add("nobar-btn", "nobar-btn-right");
//  rightBtn.appendChild(document.createTextNode("RIGHT &gt;"));


  // shove the scrollable area down into a container
  var contain = document.createElement("div");
  contain.style.cssText = "position: relative;";
  area.parentNode.insertBefore(contain,area);
  contain.appendChild(leftBtn);
  contain.appendChild(area);
  contain.appendChild(rightBtn);

  area.classList.add("nobar");

  leftBtn.onclick = function() {
    area.scrollLeft -= area.clientWidth*0.75;
  }
  rightBtn.onclick = function() {
    area.scrollLeft += area.clientWidth*0.75;
  }

  var latch = false;

  var btnUpdate = function() {
    if (area.scrollLeft == 0 ) {
      leftBtn.style.display = 'none';
    } else {
      leftBtn.style.display = '';
    }
    if (area.scrollLeft >= (area.scrollWidth-area.clientWidth) ) {
      rightBtn.style.display = 'none';
    } else {
      rightBtn.style.display = '';
    }
    latch = false;
  }

  area.addEventListener('scroll', function(e) {
    if (!latch) {
      window.requestAnimationFrame(btnUpdate);
    }
    latch=true;
  });

  btnUpdate();
}

var scrolly = document.querySelector(".ev-list");
nobarScroll(scrolly);


</script>

{% endblock %}
