{% extends "base.html" %}
{% block site_main %}
<div class="copy">
<div style="">
<h1><img src="/static/icon/canoe.png" style="width:8rem; vertical-align: middle;"> Water quality</h1>

<p>This page has more detailed info about the thing you just clicked upon...</p>

<p>It might be:</p>

<ul>
    <li>Charts and detailed statistics to dig into</li>
    <li>Location-specific information (eg nearest bus stop)</li>
    <li>Maps (eg heatmap of air quality across the city)</li>
    <li>Media (eg traffic cams, photos from social media...)</li>
    <li>Background information, to help place data in context</li>
    <li>etc...</li>
</ul>

<br/>
For example:
<br/>

<h2>Recreational</h2>
<br/>
<img src="/static/mock/swimming.png" /><br/>
<small>(source: <a href="http://maps.ecan.govt.nz/WaterQuality/ ">maps.ecan.govt.nz/WaterQuality/</a>)</small>
</div>  <!-- end .copy -->
{% endblock %}
